<!DOCTYPE html>
<html>
<head>
  <title>PetStore</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

</head>
<body>
  <div class="page-header">
    <h1>Pet Store</h1>
  </div>

  <div class="container">
  <nav>
    <%= link_to "Home", root_path %>
    <div id="cart-quantity">
      <%=link_to"My Cart (#{@cart_qty})",@cart%>
    </div>
  </nav>

<%= yield %>

</div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</body>
</html>
